* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background: linear-gradient(#041b3878, #02020283, transparent),
    url('../img/uno-background.jpg') no-repeat center fixed;
  background-size: cover;
  height: 100vh;
  /* border: 2px solid; */
}
