@media screen and (max-width: 480px) {
  .nav-bar {
    position: fixed;
    height: 8vh;
    width: 100vw;
    background-color: red;
    color: white;
    box-shadow: 0px 20px 10px -10px rgba(0, 0, 0, 0.431);
  }

  .nav-bar h1 {
    position: relative;
    left: 15vw;
    height: 8vh;
    line-height: 7.5vh;
    padding: 0;
    width: 70vw;
    font-size: 25px;
    text-align: center;
    font-family: 'Lobster', cursive;
  }

  /* Position and sizing of burger button */
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    top: 15px;
    left: 10px;
  }

  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: white;
  }

  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: white;
  }

  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }

  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }

  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }

  /* General sidebar styles */
  .bm-menu {
    background: rgba(0, 0, 255, 0.781);
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }

  .username-container {
    position: relative;
    top: -6.3vh;
    left: -7vw;
    font-size: 0.9rem;
    color: white;
    text-emphasis: none;
    /* border-bottom: 3px solid black; */
    padding-bottom: 1vh;
    width: 50vw;
  }

  .username-container h3 {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.7rem;
  }

  .username-container:focus {
    outline: none;
  }

  #username {
    color: rgb(173, 143, 143);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.35rem;
  }

  #online-status {
    color: rgb(197, 36, 36);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.15rem;
  }

  .friends-list-container {
    /* border: 2px solid; */
    position: relative;
    left: -30px;
  }

  .friends-list-container h3 {
    position: relative;
    /* left: -30px;s */
    color: white;
    font-size: 1.7rem;
    font-family: 'Permanent Marker', cursive;
  }
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }

  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }

  /* Individual item */
  .bm-item {
    display: inline-block;
  }

  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

  .menu-item {
    position: relative;
    left: -7vw;
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
}
